* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0eeea;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    color: #333333;
}

nav {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 20px 0;
    background-color: rgb(0,133,66);
    color: #ffffff;
    text-align: center;
    font-size: 35px;
}

header {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    width: 90%;
    max-width: 400px;
}

h1 {
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
}

p {
    margin: 20px 0;
}

input[type=number] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #f0f0f0;
    margin-bottom: 20px;
    font-size: 15px;

    
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: rgb(0, 182, 91);
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 48px 48px 48px 48px;
}

button:hover {
    background-color: rgb(0,133,66);
}

.compensa {
    margin-top: 20px;
    text-align: center;
    font-size: 1.2em;
    color: rgb(0,133,66);
    font-weight: bold;
}
